@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #0f172a;
}
button {
  background-color: transparent;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}

.text-field {
  @apply py-3 px-4 rounded-lg text-slate-100 bg-slate-500 text-lg;
}
.btn {
  @apply py-3 px-4 rounded-2xl;
}
.btn-primary {
  @apply text-slate-100 bg-slate-500 font-bold;
}
.btn-secondary {
  @apply border border-solid border-slate-100 text-slate-100 font-bold;
}
.badge {
  @apply whitespace-nowrap py-1 px-4 rounded-2xl text-sm font-bold;
}
.badge-secondary {
  @apply bg-slate-600;
}
.icon {
  @apply w-6 h-6;
}
