@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #0f172a;
}
button {
  background-color: transparent;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  outline: none;
}

.text-field {
  @apply py-3 px-4 rounded-lg text-slate-100 bg-slate-500 text-lg;
}
